* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 2rem 0 1rem 0;
    color: #FFE81F;
    font-size: x-large;
}

body {
    background-image: url('/images/starbackground.jpg');
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

figcaption {
    color: #FFE81F;
    background-color: #111111;
    padding: 5px;
    text-align: center;
    font-size: x-large;
}