* {
    margin: 0;
    box-sizing: border-box;
}

.buttons{
  display: flex;
  justify-content: space-evenly;

}

body {
  background-color: #d3d3d3;
}

header h1 {
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: 36px;
}

button, #newPokemon{
  padding: 10px 20px;
  color: #CC0000;
  background-color: #FFDE00;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 220px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px;
    perspective: 600px;
    border: none;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: #3B4CCA;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    color: #FFDE00;
    text-align: center;
    font-size: 25px;
    padding: 10px 0 20px 0;
  }
  
  .card__face--back {
    background: #FFDE00;
    color: black;
    border-style: solid;
    border-width: 5px;
    border-color: #CC0000;
    border-radius: 5px;
    transform: rotateY(180deg);
  
  }

  .card__face--back h3 {
    padding: 20px 0 10px 20px;
    font-size: 20px;
  } 

  .card__face--back h5 {
    text-decoration: none;
    padding: 0  0 0 20px;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

