* {
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background-image: url('/images/starbackground.jpg');
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 12rem;
}

figcaption {
    background-color: #111111;
    color: #FFE81F;
    font-size: large;
    text-align: center;
    padding: 5px 0 5px 0; 
}

button {
    padding: .5rem; 
    background-color: white;
    color: black;
}

header {
    text-align: center;
    margin: 2rem 0 1rem 0;
    color: #FFE81F;
    font-size: x-large;
}