body {
    background-color: #DDDAD8;
  }
  
  header {
    text-align: center;
  }

  header h1 {
    font-size: 48px;
    margin: 20px 0 12px 0;
  }

  #seniorityButton, #birthdayButton {
    padding: 10px 20px;
    margin: 5px 5px 10px 0;
    color: white;
    background-color: #535C5F;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
  }
  
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem .75rem;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
    padding: 2px 0 5px 0 ;
    font-size: 18px;
    border-bottom: solid;
    border-bottom-width: 2px;
  }