body {
    background-color: #CECECE;
  }
  
  header {
    text-align: center;
  }

  #seniorityButton, #birthdayButton {
    
  }
  
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem .75rem;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
    padding: 2px 0 5px 0 ;
    font-size: 18px;
    border-bottom: solid;
    border-bottom-width: 2px;
  }